* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
}


.banner {
    background-image: url(./assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgb(22, 41, 49),
            rgba(0, 110, 255, 0.5),
            rgba(41, 85, 228, 0.7),
            rgba(14, 25, 170, 0.7),
            rgba(17, 17, 104, 0.7)), url(./assets/images/banner.png);
    width: 100%;
    min-height: 60vh;
    border-bottom: solid 3px rgb(32, 119, 170);
}

.banner-content {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    gap: 1.5rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto 1.5rem;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;

    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1));
}

header div h1 {
    text-transform: uppercase;
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin: 0 auto 1.5rem;
    /* centraliza corretamente */

    background: linear-gradient(to bottom, #00f260, #0575e6);
    -webkit-background-clip: text;
    color: transparent;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
}

header div p {
    max-width: 740px;
    font-size: 1.5rem;
    margin: 0 auto 1.5rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
}

header div button {
    display: block;
    margin: 0 auto 1.5rem;

    padding: 1rem 2rem;
    font-size: 1.5rem;

    border: solid 2px rgb(36, 108, 214);
    border-radius: 8px;
    background-color: transparent;
    color: rgb(36, 108, 214);
    text-transform: uppercase;
    cursor: pointer;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

main {
    border-bottom: solid 3px rgb(32, 119, 170);
    text-align: center;
}

#course-content {
    background-color: black;
    padding: 4px;
}

#course-content h2 {
    text-transform: uppercase;
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin: 4rem auto 2rem;
    padding: 0 1rem;
    color: rgb(17, 17, 104);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

    background: linear-gradient(to bottom, #00f260, #0575e6);
    -webkit-background-clip: text;
    color: transparent;
}

#course-content p {
    max-width: 900px;
    font-size: 1.2rem;
    margin: 1.5rem auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.modules-list .module {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 1);
    margin: 30px auto;
    max-width: 600px;

    border: 2px solid rgb(36, 108, 214);
    border-radius: 50px;
    color: white;
}

main span {
    font-size: 1.2rem;
    margin: 1.5rem;
    color: rgb(36, 108, 214);
}
#transform-world {
    border-top:2px solid rgb(36, 108, 214);
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.95)
        ),
        url(/Minha-Primeira-Landing-Page/assets/images/woman-code.png) center / cover no-repeat fixed;

    display: flex;
    align-items: center;
    padding-left: 5rem;
}

#transform-world::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.75)
        ),
        url(/Minha-Primeira-Landing-Page/assets/images/woman-code.png) center / cover no-repeat;

    /* deixa a imagem mais viva */
    filter:
        saturate(1.2)
        contrast(1.25)
        brightness(1.15);

    z-index: -1;
}
#transform-world p {
    max-width: 420px;
    width: 100%;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: bold;
    text-transform: lowercase;
    text-align: left;

    color: rgb(255, 255, 255);
    text-shadow: 8px 2px 8px rgba(4, 0, 255, 0.3);
    margin-left: 4rem;
    padding-left: 5rem;
}

#professional-challenges {
    background-color: black;
    border-top: 2px solid rgb(36, 108, 214);
    padding: 4rem 2rem;
    margin: 0 auto;
}

#professional-challenges h2 {
    text-transform: uppercase;
    margin: 0 auto 3rem;
    font-size: 2rem;
    max-width: 650px;
    width: 100%;
    color: rgb(17, 17, 104);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

    background: linear-gradient(to bottom, #00f260, #0575e6);
    -webkit-background-clip: text;
    color: transparent;
}

#professional-challenges p {
    max-width: 800px;
    font-size: 1rem;
    padding: 3rem;
    margin: 0 auto 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

footer {
    background: linear-gradient(
        to top, rgb(7, 36, 49), rgb(0, 0, 0)
    );

    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

footer img {
    
    margin: 0;
}

footer p {
   margin: 0;
}

@media (max-width: 768px) {
    #transform-world {
        padding-left: 0;
        justify-content: center;
    }

    #transform-world p {
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    #transform-world {
        background-attachment: scroll;
    }
}

@media (max-width: 768px) {

    .banner {
        min-height: 80vh;
    }

    header div p {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .modules-list .module {
        flex-direction: column;
        padding: 1rem;
        border-radius: 20px;
    }

    #professional-challenges p {
        padding: 1.5rem;
        font-size: 0.95rem;
    }
}